In [2]:
#importing libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
from scipy import stats

In [3]:
df = pd.read_csv('clean_df.csv')
df.head()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_living15,sqft_lot15,grade_num,bed_bath_ratio,mean_price,id,zip_city,Waterfront
0,0,221900.0,3.0,1.00,1180.0,5650.0,1.0,1180.0,1340.0,5650.0,7.0,3.000000,540296.573506,7129300520,1,0
1,1,538000.0,3.0,2.25,2570.0,7242.0,2.0,2170.0,1690.0,7639.0,7.0,1.333333,540296.573506,6414100192,1,0
2,2,180000.0,2.0,1.00,770.0,10000.0,1.0,770.0,2720.0,8062.0,6.0,2.000000,540296.573506,5631500400,0,0
3,3,604000.0,4.0,3.00,1960.0,5000.0,1.0,1050.0,1360.0,5000.0,7.0,1.333333,540296.573506,2487200875,1,0
4,4,510000.0,3.0,2.00,1680.0,8080.0,1.0,1680.0,1800.0,7503.0,8.0,1.500000,540296.573506,1954400510,0,0

In [4]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.describe()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_living15,sqft_lot15,grade_num,bed_bath_ratio,mean_price,id,zip_city,Waterfront
count,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000,19479.00000
mean,10782.10601,488722.09102,3.30094,2.05561,1951.77427,9524.58951,1.47382,1675.56117,1905.78526,8740.63232,7.52682,1.73298,540296.57351,4670475313.29781,0.33965,0.00323
std,6228.11888,239154.09521,0.85551,0.67677,726.85621,10154.38604,0.54106,670.39239,579.92807,7352.61539,0.99392,0.56477,0.00000,2876908805.09759,0.47360,0.05678
min,0.00000,78000.00000,1.00000,0.50000,370.00000,520.00000,1.00000,370.00000,460.00000,651.00000,3.00000,0.40000,540296.57351,1000102.00000,0.00000,0.00000
25%,5399.50000,315000.00000,3.00000,1.50000,1400.00000,5000.00000,1.00000,1170.00000,1470.00000,5000.00000,7.00000,1.33333,540296.57351,2206950062.50000,0.00000,0.00000
50%,10759.00000,437500.00000,3.00000,2.25000,1860.00000,7350.00000,1.00000,1510.00000,1800.00000,7440.00000,7.00000,1.60000,540296.57351,4024100670.00000,0.00000,0.00000
75%,16177.50000,605000.00000,4.00000,2.50000,2420.00000,9907.50000,2.00000,2080.00000,2270.00000,9608.00000,8.00000,2.00000,540296.57351,7436450040.00000,1.00000,0.00000
max,21596.00000,1640000.00000,6.00000,4.25000,4460.00000,130680.00000,3.00000,3860.00000,3740.00000,56257.00000,10.00000,3.42857,540296.57351,9900000190.00000,1.00000,1.00000

In [5]:
df = df.drop(columns = ['Unnamed: 0'])
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_living15,sqft_lot15,grade_num,bed_bath_ratio,mean_price,id,zip_city,Waterfront
0,221900.00000,3.00000,1.00000,1180.00000,5650.00000,1.00000,1180.00000,1340.00000,5650.00000,7.00000,3.00000,540296.57351,7129300520,1,0
1,538000.00000,3.00000,2.25000,2570.00000,7242.00000,2.00000,2170.00000,1690.00000,7639.00000,7.00000,1.33333,540296.57351,6414100192,1,0
2,180000.00000,2.00000,1.00000,770.00000,10000.00000,1.00000,770.00000,2720.00000,8062.00000,6.00000,2.00000,540296.57351,5631500400,0,0
3,604000.00000,4.00000,3.00000,1960.00000,5000.00000,1.00000,1050.00000,1360.00000,5000.00000,7.00000,1.33333,540296.57351,2487200875,1,0
4,510000.00000,3.00000,2.00000,1680.00000,8080.00000,1.00000,1680.00000,1800.00000,7503.00000,8.00000,1.50000,540296.57351,1954400510,0,0

Simple Model

In [6]:
simple_formula = 'price ~ sqft_living'
simple_model = ols(formula=simple_formula, data=df).fit()
simple_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.369
Model:                            OLS   Adj. R-squared:                  0.369
Method:                 Least Squares   F-statistic:                 1.141e+04
Date:                Wed, 14 Sep 2022   Prob (F-statistic):               0.00
Time:                        17:25:42   Log-Likelihood:            -2.6439e+05
No. Observations:               19479   AIC:                         5.288e+05
Df Residuals:                   19477   BIC:                         5.288e+05
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    9.838e+04   3899.011     25.232      0.000    9.07e+04    1.06e+05
sqft_living   199.9927      1.872    106.829      0.000     196.323     203.662
==============================================================================
Omnibus:                     3657.974   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8429.710
Skew:                           1.071   Prob(JB):                         0.00
Kurtosis:                       5.407   Cond. No.                     5.97e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [7]:
scaler = StandardScaler()
scaler.fit(df)
df_scaled = scaler.transform(df)

In [8]:
df_scaled

array([[-1.11571972, -0.35177525, -1.55982454, ...,  0.85469804,
         1.39435509, -0.05696268],
       [ 0.20605616, -0.35177525,  0.28723878, ...,  0.60609138,
         1.39435509, -0.05696268],
       [-1.29092506, -1.52069882, -1.55982454, ...,  0.33405639,
        -0.71717743, -0.05696268],
       ...,
       [-0.36220711, -1.52069882, -1.9292372 , ..., -1.0939714 ,
         1.39435509, -0.05696268],
       [-0.37099247, -0.35177525,  0.65665145, ..., -1.52221635,
        -0.71717743, -0.05696268],
       [-0.68460585, -1.52069882, -1.9292372 , ..., -1.0939714 ,
         1.39435509, -0.05696268]])

In [9]:
df_scaled = pd.DataFrame(df_scaled,
                              columns=df.columns,
                              index=df.index)

df_scaled.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_living15,sqft_lot15,grade_num,bed_bath_ratio,mean_price,id,zip_city,Waterfront
0,-1.11572,-0.35178,-1.55982,-1.06182,-0.38158,-0.87574,-0.73923,-0.97564,-0.42036,-0.53006,2.24346,0.00000,0.85470,1.39436,-0.05696
1,0.20606,-0.35178,0.28724,0.85057,-0.22479,0.97252,0.73756,-0.37210,-0.14983,-0.53006,-0.70765,0.00000,0.60609,1.39436,-0.05696
2,-1.29093,-1.52070,-1.55982,-1.62591,0.04682,-0.87574,-1.35083,1.40403,-0.09230,-1.53621,0.47280,0.00000,0.33406,-0.71718,-0.05696
3,0.48204,0.81715,1.39548,0.01132,-0.44559,-0.87574,-0.93315,-0.94115,-0.50876,-0.53006,-0.70765,0.00000,-0.75892,1.39436,-0.05696
4,0.08897,-0.35178,-0.08217,-0.37391,-0.14227,-0.87574,0.00662,-0.18242,-0.16833,0.47608,-0.41254,0.00000,-0.94412,-0.71718,-0.05696

In [10]:
simple_formula = 'price ~ sqft_living'
simple_model = ols(formula=simple_formula, data=df_scaled).fit()
simple_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.369
Model:                            OLS   Adj. R-squared:                  0.369
Method:                 Least Squares   F-statistic:                 1.141e+04
Date:                Wed, 14 Sep 2022   Prob (F-statistic):               0.00
Time:                        17:25:42   Log-Likelihood:                -23148.
No. Observations:               19479   AIC:                         4.630e+04
Df Residuals:                   19477   BIC:                         4.632e+04
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept   -2.797e-17      0.006  -4.92e-15      1.000      -0.011       0.011
sqft_living     0.6078      0.006    106.829      0.000       0.597       0.619
==============================================================================
Omnibus:                     3657.974   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8429.710
Skew:                           1.071   Prob(JB):                         0.00
Kurtosis:                       5.407   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""